{% extends "base.html" %}

{% block content %}

    <h2>Lisää uusi kouluttaja</h2>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
            {{ form.forename.label }}<br>
            {{ form.forename(size=32) }}
            {% for error in form.forename.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.surname.label }}<br>
            {{ form.surname(size=32) }}
            {% for error in form.surname.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock %}
